/*색*/
:root {
  --primary-l5: #f5fff4;
  --primary-l4: #c1ffd4;
  --primary-l3: #78fbb0;
  --primary-l2: #5ade96;
  --primary-l1: #38c27d;
  --primary-def: #00a664;
  --primary-d1: #008952;
  --primary-d2: #006d40;
  --primary-d3: #00522f;
  --primary-d4: #00391f;
  --primary-d5: #002110;

  --secondary-l5: #fffbff;
  --secondary-l4: #ffede9;
  --secondary-l3: #ffdad3;
  --secondary-l2: #ffb4a5;
  --secondary-l1: #ff8a72;
  --secondary-def: #fe5737;
  --secondary-d1: #da3e20;
  --secondary-d2: #b62407;
  --secondary-d3: #8d1500;
  --secondary-d4: #640c00;
  --secondary-d5: #3e0500;

  --system-success: #65c128;
  --system-warning: #ffc300;
  --system-danger: #d13125;
  --system-info: #0272e2;

  --gray900: #191c1a;
  --gray800: #2e312e;
  --gray700: #454744;
  --gray600: #5c5f5c;
  --gray500: #757874;
  --gray400: #8f918d;
  --gray300: #aaaca8;
  --gray200: #c5c7c3;
  --gray100: #e1e3de;
  --gray50: #f0f1ec;
  --gray10: #fbfdf8;
  --gray-white: #ffffff;
  --gray-black: #000000;

  --ngray900: #161d17;
  --ngray800: #2b322c;
  --ngray700: #414941;
  --ngray600: #586059;
  --ngray500: #717971;
  --ngray400: #8b938a;
  --ngray300: #a5ada4;
  --ngray200: #c1c9bf;
  --ngray100: #dde5db;
  --ngray50: #ebf3e9;
  --ngray10: #f5fff3;
}

/*아이콘
https://fonts.google.com/icons?icon.style=Rounded에서 'Inserting the icon'부분 사용
채워진 아이콘은 클래스에 icon-fill 추가하거나 직접 속성 추가*/
.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.icon-fill {
  font-variation-settings: 'FILL' 1;
}

/*기본 레이아웃*/
body {
  margin: 0;
}
#main-wrapper {
  margin-left: 248px;
}
#sub-wrapper {
  min-height: calc(100vh - 65px);
}

@media screen and (max-width: 768px) {
  #main-wrapper {
    margin-left: inherit;
  }
}

.page-title {
  font-size: 28px;
  margin: 0;
  padding: 10px;
}
.table-header {
  display: flex;
  background-color: var(--gray10);
  border-top: 1px solid var(--ngray200);
  border-bottom: 1px solid var(--ngray200);
  color: var(--ngray800);
}
.table-header div {
  padding: 6px 10px;
}
